/DetentionTracker2/DetentionTracker2-ejb/build/
/DetentionTracker2/build/
/DetentionTracker2/DetentionTracker2-war/build/
/DetentionTracker2/DetentionTracker2-war/dist/
/DetentionTracker2/DetentionTracker2-ejb/dist/